@{
    ViewData["Title"] = "Home Page";
}

<section class="header">
    <div class="header_welcome blink">
        Welcome
    </div>
</section>
<section class="content">
    <div class="content_chat">
        <div class="content_chat--content">
        </div>
        <div class="content_chat--input">
            <input name="new_message" type="text" />
        </div>
    </div>
</section>