@{
    ViewData["Title"] = "O hi Mark";
}
<div class="screamer">
    
</div>


@section Scripts {
    <script src="~/js/important.js"></script>
}
<audio id="ohimark" src="~/sounds/lovely_song.mp3" preload="auto"> </audio>