@font-face {
    font-family: "Pixeled";
    src: url("../fonts/Pixeled.ttf");
}

body {
    font-family: 'Pixeled';
    background-color: black;
    width: 70%;
    margin: 0 auto;
}

p {
    margin: 0;
    padding: 0;
}

a:visited {
    color: rgb(81, 255, 0);
}

main {
    margin-top: 80px;
}

.header {
    margin-bottom: 20px;
}

.header_welcome {
    text-transform: uppercase;
    text-align: center;
    font-size: 28pt;
    color: rgb(81, 255, 0);
    letter-spacing: 10px;
    user-select: none;
}

.content {

}

.content_chat {
}

.content_chat--content {
    padding: 20px 20px 0 20px;
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.content_chat--input > input {
    background-color: black;
    width: 100%;
    font-size: 10pt;
    font-family: 'Pixeled';
    color: rgb(81, 255, 0);
    border-radius: unset;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(81, 255, 0);
}

.content_chat--content--message {
    font-size: 10pt;
    color: rgb(81, 255, 0);
    text-align: justify;
}

.content_chat--content--message::before {
    content: '> ';
    font-size: 15pt;
    font-weight: bold;
    font-family: 'Pixeled';
}

.footer {
    margin-top: 10px;
    text-align: center;
    font-size: 5pt;
}

.blink {
    animation: blink-animation .2s infinite;
    -webkit-animation: blink-animation .2s infinite;
  }

  @keyframes blink-animation {
    to {
      opacity: 0;
    }
  }

  @-webkit-keyframes blink-animation {
    to {
        opacity: 0;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(81, 255, 0);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(192, 255, 208);
  }