@font-face {
    font-family: "Pixeled";
    src: url("../fonts/Pixeled.ttf");
}

:root {
    --light: rgb(192, 252, 204, .5);
    --text: rgb(81, 255, 0);
}

html, body {
    height: 100%;
}

body {
    font-family: 'Pixeled';
    background-color: black;
    margin: 0 auto;
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
    word-break: break-all;
}

a, a:visited, a:hover {
    color: rgb(81, 255, 0);
}

.page {
    display: flex;
}

.users_list--user {
    color: rgb(81, 255, 0);
    font-size: 8pt;
}

    .users_list--user::before {
        content: "> ";
        font-size: 12pt;
        color: rgb(81, 255, 0);
    }

.header_welcome {
    text-transform: uppercase;
    text-align: center;
    font-size: 28pt;
    color: rgb(81, 255, 0);
    letter-spacing: 10px;
    user-select: none;
}

.content_chat--input > input {
    background-color: black;
    width: 100%;
    font-size: 10pt;
    font-family: 'Pixeled';
    color: rgb(81, 255, 0);
    border-radius: unset;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(81, 255, 0);
}

.content_chat--content--message {
    font-size: 10pt;
    color: rgb(81, 255, 0);
    text-align: justify;
}

    .content_chat--content--message::before {
        content: '> ';
        font-size: 15pt;
        font-weight: bold;
        font-family: 'Pixeled';
    }

.footer {
    margin-top: 10px;
    text-align: center;
    font-size: 5pt;
}

.reportUser > button {
    margin-top: 10px;
    font-family: Consolas;
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 60%;
    height: 55px;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text);
    background-size: 100% 100%;
    margin-bottom: 15px;
}

    .reportUser > button:hover {
        border: solid white 3px;
    }

.blink {
    animation: blink-animation .2s infinite;
    -webkit-animation: blink-animation .2s infinite;
}

@keyframes blink-animation {
    to {
        opacity: 0;
    }
}

@-webkit-keyframes blink-animation {
    to {
        opacity: 0;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(81, 255, 0);
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(192, 255, 208);
    }

/* Phones */
@media only screen and (max-width: 480px) {
    .page {
        flex-direction: column;
    }

    .content_chat--content {
        height: 200px;
        padding: 20px 20px 0 20px;
        display: flex;
        flex-direction: column-reverse;
        overflow-y: scroll;
    }
}

/*View port 500px and 649px */
@media only screen and (min-width: 480px) and (max-width: 649px) {
    .page {
        flex-direction: row;
    }

    .users {
        width: 20%;
    }

    .users_list {
        padding: 5px;
    }

    main {
        width: 100%;
        margin-left: 10%;
        margin-top: 80px;
    }

    .header {
        margin-left: 10%;
        margin-bottom: 20px;
    }

    .content_chat--content {
        height: 350px;
        padding: 20px 20px 0 20px;
        display: flex;
        flex-direction: column-reverse;
        overflow-y: scroll;
    }
}

/*Tablets*/
@media only screen and (min-width: 649px) and (max-width: 900px) {
    .page {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .users {
        width: 20%;
    }

    .users_list {
        padding: 5px;
    }

    main {
        width: 100%;
        margin-left: 10%;
        margin-top: 80px;
    }

    .header {
        margin-left: 10%;
        margin-bottom: 20px;
    }

    .content_chat--content {
        height: 350px;
        padding: 20px 20px 0 20px;
        display: flex;
        flex-direction: column-reverse;
        overflow-y: scroll;
    }
}

@media only screen and (min-width: 900px) {
    .page {
        flex-direction: row;
    }

    .users {
        width: 20%;
    }

    .users_list {
        padding: 5px;
    }

    main {
        width: 100%;
        margin-left: 10%;
        margin-top: 80px;
    }

    .header {
        margin-left: 10%;
        margin-bottom: 20px;
    }

    .content_chat--content {
        height: 600px;
        padding: 20px 20px 0 20px;
        display: flex;
        flex-direction: column-reverse;
        overflow-y: scroll;
    }
}

/*----------------------------------------------*/


#ohimark {
}

.screamer {
    background-color: black;
    background-image: url("../img/gift.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: mark .2s linear .2s infinite alternate;
}

@keyframes mark {
    0% {
        height: 100%;
    }

    30% {
        height: 300%;
    }

    66% {
        height: 100%;
    }

    100% {
        height: 200%;
    }
}