<!-- Modal Section -->

<div class="bg-modal">
    <div class="modal-contents">
        <div class="close">+</div>
        <form class="form-control" action="/somewhere_else">
            <div class="select">
                <select id="standard-select">
                </select>
                <span class="focus"></span>
            </div>
            <textarea placeholder="Remember, be nice!" cols="30" rows="10"></textarea>
            <input type="submit" value="report"/>
        </form>
    </div>
</div>