<!-- Modal Section -->

<div class="bg-modal">
    <div class="modal-contents">
        <div class="close">+</div>
        <form class="form-control" action="">
            <select id="reportUserSelect"></select>
            <a href="#" class="button">Submit</a>
        </form>
    </div>
</div>