<!-- Modal Section -->

<div class="bg-modal">
    <div class="modal-contents">
        <div class="close">+</div>
        <form class="form-control" action="">
            <div class="select">
                <select id="standard-select">
                </select>
                <span class="focus"></span>
            </div>
            <a href="#" class="button">Submit</a>
        </form>
    </div>
</div>