<!-- Modal Section -->

<div class="bg-modal">
    <div class="modal-contents">
        <div class="close">+</div>
        <form name="reportUserForm" class="form-control" action="" method="post">
            <div class="select">
                <select name="reportedUser" id="standard-select"></select>
                <span class="focus"></span>
            </div>
            <textarea name="reportDescription" placeholder="Remember, be nice!" cols="30" rows="10"></textarea>
            <input type="submit" value="report"/>
        </form>
    </div>
</div>